body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #575757;
}

main {
    padding: 80px 20px 20px 20px; /* Adjust padding to ensure content is not hidden behind fixed header */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    width: 100%;
}

.welcome, .about, .contact, .menu {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.dish, .menu-item {
    border: 1px solid #ddd;
    padding: 1em;
    margin-bottom: 1em;
}

form label {
    display: block;
    margin-bottom: 0.5em;
}

form input, form textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
}

form button {
    padding: 0.5em 2em;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #575757;
}

h1, h2 {
    text-align: center;
}
.menu-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #b9b3b3;
    padding-bottom: 20px;
    overflow: hidden;
}
.menu-item img {
    float: left;
    margin-right: 20px;
    border-radius: 8px;
}
.menu-item h3 {
    margin-top: 0;
}
.menu-item p {
    margin-bottom: 0;
}